body {
  background: white;
}

h1 {
  padding: 5px;
  font-size: 34px;
  text-align: center;
  margin-top: 32px;
}
footer {
  text-align: center;
  color: grey;
  font-size: x-small;
}

ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

footer {
  max-width: 600px;
}

.container {
  max-width: 600px; /* fixing the width of the content within container to 600px */
  border-color: grey;
  border-style: solid;
  border-radius: 6px;
  padding: 25px;
  margin: 25px;
  font-family: "Lora", serif;
  color: #272343;

  background: radial-gradient(
    circle at 10% 20%,
    rgba(216, 241, 230, 0.46) 0.1%,
    rgba(233, 226, 226, 0.28) 90.1%
  );
}
.weather-app {
  margin: 30px auto;
  padding: 20px;
  border: 1px solid grey;
}
#description {
  text-transform: capitalize; /* makes the first letters capital for the weather description from API */
}

.current-emoji,
.future-emoji {
  text-align: center;
  padding-top: 10px;
  font-size: 56px;
  margin-top: 15px;
}

.high-temp {
  color: pink;
}
.low-temp {
  color: lightblue;
}

.sun-moon {
  font-size: small;
  text-align: center;
}

.clickT {
  text-decoration: none;
  color: #272343;
}

#fahrenheit-link {
  color: #ffcbcb;
}

#searchButton {
  color: white;
  border-radius: 4px;
  background: #ffcbcb;
  transition: all 200ms ease-in-out;
}

#searchButton:hover {
  background: white;
  color: white;
  cursor: pointer;
}

#currentLocationButton {
  color: white;
  border-radius: 4px;
  background: #ffcbcb;
  transition: all 200ms ease-in-out;
}

#currentLocationButton:hover {
  background: white;
  color: white;
  cursor: pointer;
}
